@model SMS.ViewModel.Student.SearchViewModel


<form id="search" asp-action="" asp-controller="Student" method="get" class="search-container">
           
    <select id="searchCategory" name="SearchCategory" asp-for="SearchCategory">
                    <option value="StudentRegNo">Student Reg No</option>
                    <option value="FirstName">First name</option>
                     <option value="LastName">Last Name</option>
                    <option value="DisplayName">Display Name</option>
                </select>
    <input type="text" name="SearchText" id="customSearchBox" placeholder="Search..." asp-for="SearchText" />
</form>