<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!--<internalLogLevel>Trace</internalLogLevel>
	<internalLogFile>C:\Users\ACER\Desktop\log\internal-nlog.txt</internalLogFile>-->
	<targets>
		

		<target xsi:type="Database" name="databaseTarget" connectionString="${configsetting:item=ConnectionStrings.SMS_StoredContext}"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient" commandText="INSERT INTO Logs (Date, Level, Logger, Message, Exception) VALUES (@date, @level, @logger, @message, @exception)">
			<parameter name="@date" layout="${longdate}"  dbType="DateTime"/>
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=ToString}" />
		</target>
	</targets>

	<rules>

		<logger name="SMS_Stored.Controllers.StudentController" minlevel="Info" writeTo="databaseTarget" />
	</rules>
</nlog>
