@{
    ViewData["Title"] = "Home Page";
}

<section class="row" aria-labelledby="aspnetTitle">
    <h3 id="title" class="text-center">Student Management System </h3>
    <div>
        <p class="lead">
            Our Student Management System is designed to streamline administrative tasks and provide a centralized platform for managing student information efficiently.
            Whether you're an administrator, teacher, or student, our system offers various features to enhance your experience and productivity.
        </p>
    </div>

</section>
