.table {
    font-size: 12px;
    text-align: center;
}

div .panel-body {
    margin-bottom: 25px;
}


.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .controls-container .filter,
    .controls-container .search-container {
        display: flex;
        align-items: center;
    }

    .controls-container .filter {
        margin-left: auto;
        margin-right: 20px;
    }

    .controls-container .search-container {
        margin-left: auto;
    }

    .controls-container select,
    .controls-container input {
        margin-left: 10px;
    }

.control-label, .form-control, .form-select, .text-danger {
    font-size: 14px;
}
.mail-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
}

    .mail-icon:hover {
        color: #0056b3;
    }
