<div class="form-group filter">
    <label for="statusFilter" class="mt-2">Status:</label>
    <select id="filterStatus">
        <option value="all">All</option>
        <option value="active">Active</option>
        <option value="inactive">InActive</option>
    </select>
</div>